<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      😈 Happy Timer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">😈 Happy Timer</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>

      <ion-row>
        <ion-col>
          <ion-card>
            <ng-container *ngIf="selectedOptionsCounter <= 0">
              <ion-card-header>
                <ion-card-title>👎😫</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <h2>Do you need some time?</h2>
              </ion-card-content>
            </ng-container>

            <ng-container *ngIf="selectedOptionsCounter >= 1">
              <ion-card-header>
                <ion-card-title>{{ currentOption.label }}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <h2 *ngIf="selectedOptionsCounter == 1">🎵 All night long 🎶</h2>
                <ion-text [color]="timerSecondsLeft > 10 ? 'default' : 'danger'">
                  <h1 class="timer-label" *ngIf="selectedOptionsCounter > 1">{{ timerLabel }}</h1>
                </ion-text>
              </ion-card-content>
            </ng-container>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-content>

              <ion-grid>
                <ion-row class="ion-justify-content-between">
                  <ion-col size="auto" *ngFor="let option of options">
                    <ion-toggle class="option-item" [(ngModel)]="option.value" (ngModelChange)="runTimer()">
                      {{ option.label }}
                    </ion-toggle>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <div class="ion-padding-top">
                      <div>Max. {{maxMinutes}} min(s)</div>
                      <ion-range [ticks]="true" [snaps]="true" [min]="1" [max]="10" [(ngModel)]="maxMinutes"
                        (ngModelChange)="runTimer()">
                        <ion-icon slot="end" name="timer" color="primary" size="large"></ion-icon>
                      </ion-range>
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row class="ion-justify-content-between">
                  <ion-col>
                    <ion-button expand="full" (click)="runTimer()">
                      <ion-icon slot="icon-only" name="refresh"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col>
                    <ion-button expand="full" (click)="startTimer()" color="light">
                      <ion-icon slot="icon-only" name="play"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col>
                    <ion-button expand="full" (click)="pauseTimer()" color="light">
                      <ion-icon slot="icon-only" name="pause"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col>
                    <ion-button expand="full" (click)="stopTimer()" color="light">
                      <ion-icon slot="icon-only" name="stop"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-content>
</ion-content>
